@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --v-dark-blue: hsl(229, 23%, 23%);
    --dark-g-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    background-color: var(--dark-cyan);
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
}

#main {
    background-color: #ffffff;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    padding: 10px;
    margin: 5% auto;
}

#main #img-capa {
    background-image: url('../images/bg-pattern-card.svg');
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: -10px -10px -50px;
}

#main #img-perfil > img {
    display: block;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: auto;
}

#main > #information {
    text-align: center;
}

#main > #information > #city {
    color: var(--dark-gray);
}

#main > #stats-container {
    text-align: center;
    margin: auto;
}

#main > #stats-container > .container {
    display: inline-block;
    text-align: center;
    margin: 0 25px;
}

#main > #stats-container .num {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: -5px;
}

#main > #stats-container .label {
    color: var(--dark-gray);
    letter-spacing: 3px;
}